In [1]:
import pandas as pd
import numpy as np

In [2]:
corpus = ['data science is one of the most important fields of science',
          'this is one of the best data science courses',
          'data scientists analyze data']

In [3]:
words_set = set()
for doc in corpus:
    words = doc.split()
    words_set = words_set.union(set(words))
print('No of words in the corpus:',len(words_set))
print('The words in the corpus:\n',words_set)

No of words in the corpus: 14
The words in the corpus:
 {'data', 'science', 'this', 'the', 'is', 'important', 'scientists', 'analyze', 'of', 'courses', 'best', 'one', 'most', 'fields'}

In [8]:
n_docs = len(corpus)
n_words_set = len(words_set)
words_list = list(words_set)  
df_tf = pd.DataFrame(np.zeros((n_docs, n_words_set)), columns=words_list)

for i in range(n_docs):
    words = corpus[i].split(' ')
    for w in words:
        # Use .loc for proper DataFrame indexing
        df_tf.loc[i, w] = df_tf.loc[i, w] + (i/len(words))

df_tf

,data,science,this,the,is,important,scientists,analyze,of,courses,best,one,most,fields
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0
1,0.111111,0.111111,0.111111,0.111111,0.111111,0.0,0.0,0.0,0.111111,0.111111,0.111111,0.111111,0.0,0.0
2,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.5,0.5,0.000000,0.000000,0.000000,0.000000,0.0,0.0

In [9]:
print("IDF of :")
idf = {}
for w in words_set:
    k = 0
    for i in range(n_docs):
        if w in corpus[i].split():
            k += 1
    idf[w] = np.log10(n_docs / k)
    print(f'{w:>15}: {idf[w]:>10}')

IDF of :
           data:        0.0
        science: 0.17609125905568124
           this: 0.47712125471966244
            the: 0.17609125905568124
             is: 0.17609125905568124
      important: 0.47712125471966244
     scientists: 0.47712125471966244
        analyze: 0.47712125471966244
             of: 0.17609125905568124
        courses: 0.47712125471966244
           best: 0.47712125471966244
            one: 0.17609125905568124
           most: 0.47712125471966244
         fields: 0.47712125471966244

In [12]:
n_docs = len(corpus)
n_words_set = len(words_set)
words_list = list(words_set)
df_tf = pd.DataFrame(np.zeros((n_docs, n_words_set)), columns=words_list)

for i in range(n_docs):
    words = corpus[i].split(' ')
    for w in words:
        df_tf.loc[i, w] = df_tf.loc[i, w] + (i/len(words))

df_tf_idf = pd.DataFrame(np.zeros_like(df_tf), columns=df_tf.columns)

for i in range(n_docs):
    words = corpus[i].split(' ')
    for w in words:
        df_tf_idf.loc[i, w] = df_tf.loc[i, w] * idf[w]

df_tf_idf

,data,science,this,the,is,important,scientists,analyze,of,courses,best,one,most,fields
0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
1,0.0,0.019566,0.053013,0.019566,0.019566,0.0,0.000000,0.000000,0.019566,0.053013,0.053013,0.019566,0.0,0.0
2,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.238561,0.238561,0.000000,0.000000,0.000000,0.000000,0.0,0.0